h1 {
  font-size:20px;
  font-weight:bold;
}

header {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

#outer-container {
  border: 1px solid black;
}

#main-section {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}


